matplotlib==3.4.3
numpy==1.21.4
pandas==1.3.4
pandocfilters==1.5.0
pickle-mixin==1.0.2
pickleshare==0.7.5
scikit-learn==1.0.1
seaborn==0.11.2
scikit-learn==1.0.1
seaborn==0.11.1
streamlit==1.2.0
xgboost==1.5.0
seaborn==0.11.2
streamlit==1.2.0
xgboost==1.5.0
