matplotlib==3.6.0
numpy==1.23.3
pandas==1.5.0
pandocfilters==1.5.0
pickle-mixin==1.0.2
pickleshare==0.7.5
scikit-learn==1.1.2
seaborn==0.12.0
scikit-learn==1.1.2
seaborn==0.12.0
streamlit==1.13.0
xgboost==1.6.2
seaborn==0.12.0
streamlit==1.13.0
xgboost==1.6.2
