matplotlib==3.6.2
numpy==1.24.1
pandas==1.5.2
pandocfilters==1.5.0
pickle-mixin==1.0.2
pickleshare==0.7.5
scikit-learn==1.2.0
seaborn==0.12.2
scikit-learn==1.2.0
seaborn==0.12.2
streamlit==1.16.0
xgboost==1.7.2
seaborn==0.12.2
streamlit==1.16.0
xgboost==1.7.2
